<a href="https://colab.research.google.com/github/sunilmac/dem/blob/main/12_04_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
l=1
u=100
for i in range(l,u+1):
  if i>1:
    for j in range(2,i):
      if(i%j)==0:
        break
    else:
      print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [23]:
n=int(input())
for i in range(1,11):
  s=n*i
  print(n,"*",i,"=",s)

10
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [24]:
n=int(input())
sum=0
for i in range(1,n+1):
  if n==0:
    print("0 is not a natural number")
  sum=sum+i
print("sum of natural numbers of ",n,"is",sum)

54
sum of natural numbers of  54 is 1485

In [26]:
l=[1,2,3,4,5,6,7,8.9]
print(l[:])

[1, 2, 3, 4, 5, 6, 7, 8.9]

In [25]:


X = [[12,7,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[5,8,1],
    [6,7,3],
    [4,5,9]]

result = [[0,0,0],
         [0,0,0],
         [0,0,0]]

# iterate through rows
for i in range(len(X)):
   # iterate through columns
   for j in range(len(X[0])):
       result[i][j] = X[i][j] + Y[i][j]

for r in result:
   print(r)

[17, 15, 4]
[10, 12, 9]
[11, 13, 18]

In [ ]:
l=[1,2,2,34]